@import "tailwindcss";
@font-face {
  font-family: 'MyCustomFont';
  src: url('/PloniRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'MyCustomFont', sans-serif;
}

.text-apna{
  color: #016AD3 !important;
}

.bg-apna{
  background-color: #016AD3 !important;
}